
<app-headline>Welcome to Northwind Website</app-headline>

<p>Only now, at {{ currDate | date:'MMMM, yyyy' }} - {{ discount }}% discount on all products! {{ endingWord | ending:'!!!' }}</p>

<!-- Property Binding: -->
<img #myImg src="/assets/images/home.png" [width]="imgWidth">

<div>
    <!-- Event Binding -->
    <button (click)="decrease()">&darr;</button>
    <button (click)="reset()">&harr;</button>
    <button (click)="increase($event)">&uarr;</button>
    <br><br>

    <input type="range" min="100" max="500" value="300" step="10" [(ngModel)]="imgWidth"> <!-- Banana in a Box -->
    <br><br>

    <span>{{ myImg.width }} x {{ myImg.height }}</span>

</div>

<div>

    <p ngClass="greenish">Apples</p>
    <p [ngClass]="dynamicStyling">Bananas</p>
    <p *ngIf="isWinter">Peaches</p>
    <!-- <p [hidden]="!isWinter">Peaches</p> -->

</div>