div:first-of-type {
    position: absolute;
    top: 120px;
    right: 20px;
    border: 1px solid black;
    padding: 10px;
}

div:last-of-type {
    position: absolute;
    top: 120px;
    left: 20px;
    border: 1px solid black;
    padding: 10px;
}

input[type="range"] {
    appearance: none;
    height: 6px;
    border-radius: 6px;
    background-color: brown;
}

.greenish {
    color: green;
}

.yellowish {
    color: yellow;
}

.bolder {
    font-weight: bold;
}